
<!-- Small boxes (Stat box) -->
<div class="row">
	<div class="col-lg-4 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>150</h3>
				<p>Journal Vouchers Registered</p>
			</div>
			<div class="icon">
				<i class="fa fa-money"></i>
			</div>
			<a href="@Url.Action("index", "JournalVouchers", new { Area = "Vouchers" }, null)" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div><!-- ./col -->
	<div class="col-lg-4 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-green">
			<div class="inner">
				<h3>53</h3>
				<p>Payment Vouchers Registered</p>
			</div>
			<div class="icon">
				<i class="fa fa-money"></i>
			</div>
			<a href="@Url.Action("index", "PaymentVouchers", new { Area = "Vouchers" }, null)" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div><!-- ./col -->
	<div class="col-lg-4 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-yellow">
			<div class="inner">
				<h3>44</h3>
				<p>Receipt Vouchers Registered</p>
			</div>
			<div class="icon">
				<i class="fa fa-money"></i>
			</div>
			<a href="@Url.Action("index", "ReceiptVouchers", new { Area = "Vouchers" }, null)" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div><!-- ./col -->
</div><!-- /.row -->